#container-details-program{
    height: 100vh;
    width: 100vw;
}

#details-program {
    height: 100%;
    width: 100%;
    background-image: url('../images/our_program_icon.jpg');
    background-position: center;
    background-size: cover;
}

#details-left-content {
    padding-left: 5%;
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#details-program-head{
    width: 100%;
    padding: 1%;
    box-shadow: 0px 10px 12px #b3afaf94;
    background-color: blue;
    color: white;
    text-align: center;
}

#details-program-desc{
    padding: 3%;
    background-color: white;
    border: dashed 3px black;
}

#details-right-content {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-program-img {
    width: 200px;
    height: 200px;
    padding: 3%;
}