#container-details-mission{
    height: 100vh;
    width: 100vw;
}

#details-mission {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(174,242,185);
    background: linear-gradient(304deg, rgba(174,242,185,1) 0%, rgba(255,255,255,0.5998774509803921) 100%);
}

#details-left-content {
    width: 50%;
    height: 100%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#details-mission-head{
    width: 100%;
    padding: 1%;
    box-shadow: 0px 10px 12px #b3afaf94;
    background-color: rgb(91, 248, 70);
    color: white;
    text-align: center;
}

#details-mission-desc{
    padding: 3%;
    background-color: white;
    border: dashed 3px black;
}

#details-right-content {
    width: 50%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

#details-mission-img {
    width: 200px;
    height: 200px;
    padding: 3%;
    background-color: rgb(91, 248, 70);
}