#footer{
    padding: 15%;
    background-image: url('../images/footer_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.txt-footer-tt{
    background-color: black;
    color: white;
    padding: 3%;
}

.txt-footer-desc{
    padding: 3%;
    background-color: rgb(204, 202, 202);
    border: 4px white dashed;
}