#gallery{
    position: relative;
    width: 100vw;
    padding: 10%;
    height: auto;
    background-image: url('../images/padangrumput.png');
    background-repeat: no-repeat;
}

.gallery{
    padding: 0;
    height: 20vh;
}

.fullSize {
    height: auto;
    width: 30vw;
}

.txt-gallery{
    height: 20vh;
    padding-top: 5%;
    color: white;
    background-color: #020088;
}