html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

#box-on-slider > h5{
    font-weight: bolder;
}

#box-on-slider{
    border-radius: 3%;
    padding: 1%;
    border: 3px white solid;
    background-color: #ffffff96;
    z-index: 3;
    position: absolute;
    top:10vh;
    left:10vw;
    max-width: 30vw;
}

#ribbon{
    background-repeat: no-repeat;
    background-image: url('../images/ribbon_bkg.jpeg');
    background-size: cover;
    background-position: center;
    border-top: dashed 4px white;
    border-bottom: dashed 4px white;
    object-fit: cover;
    height: 70vh; 
    width: 100vw;
    height: 22vh;
}

#ribbon-group-img{
    background-image: url('../images/cloud.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 13%;
    height: 80%;
    float: right;
    margin-right: 2%;
}

#ribbon-txt{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
    font-size: 3vh;
    font-weight: bolder;
}

.splide__slide img {
    padding: 5px;
    width: 100vw;
    height: 70vh; 
    object-fit: cover
}

#about {
    margin: 5%;
    height: 130vh;
    overflow-x: hidden;
    overflow-y: hidden;
}