#navbar{
    height: 6vh;
    background-color: #4eb3e7;
}

.main-logo {
    width: 8vw;
    height: 6vh;
    margin-left: 5px;
    margin-right: 5px;
}

.button-custom {
    width: auto;
    height: 4vh;
    all: unset;
    color: white;
    font-size : 1vw;
    margin-left: 10px;
    margin-right: 10px;
}

.medsos-logo{
    width: 1vw;
    height: 2vh;
    margin-left: 2px;
    margin-right: 2px;
}